[submodule "modules/liblogger-dev"]
	path = modules/liblogger-dev
	url = https://github.com/hypernova-developer/liblogger-dev.git
[submodule "modules/libtimer-dev"]
	path = modules/libtimer-dev
	url = https://github.com/hypernova-developer/libtimer-dev.git
[submodule "modules/libstring-dev"]
	path = modules/libstring-dev
	url = https://github.com/hypernova-developer/libstring-dev.git
[submodule "modules/libvector-dev"]
	path = modules/libvector-dev
	url = https://github.com/hypernova-developer/libvector-dev.git
[submodule "modules/libcryptor-dev"]
	path = modules/libcryptor-dev
	url = https://github.com/hypernova-developer/libcryptor-dev.git
